*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

body{
    padding: 40px;;
}
.card{
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    outline: 2px solid black;;
    /* padding: 10px;; */
}
.card-img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}